body{
    background-color:black;
}
.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #222;
    margin: 50px 50px;
    padding: 20px;
}
.form{
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}
.form__input{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #094;
    background: transparent;
    color: #fff;
}
.form__input:focus{
    background: linear-gradient(to bottom, transparent, #111);
    outline: none;
    border-bottom: 3px solid #5f9;
}
.form textarea{
    min-height: 140px;
    resize: none;
}
.form-img{
    flex: 1;
    display: flex;
    padding: 10px;
    min-width: 300px;
    min-height: 400px;
    order: 2;
}
.form-img div{
    padding: 10px;
}
.img-container{
    margin: auto;
}
.img-container div{
    background-color: #ffff;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
}
.form-img{
    width: 90%;
    margin: auto;
}
.form input[type="submit"]:hover{
    background-color: #072;
    border-bottom: none;
    padding: 17px;
}
.form input[type="submit"]:focus{
    background: #094;
}
.form input[type="submit"]:active{
    background: linear-gradient(to bottom, #072, #072);
}
/*
h2{
    background-color: #a22;
    display: inline-block;
    padding: 100px;
    text-align: center;
    box-sizing: border-box;
    margin: 20px 10px;
    border-radius: 2em;
    border: 5px solid #000;
    box-shadow: 2px 4px 15px 0 #000;
    text-shadow: 2px 2px 7px #fff;
    transform: rotate(10deg);
}*/
